@use '@angular/material' as mat;
@use '../colors' as colors;

$custom-primary: mat.m2-define-palette(
  (
    50: colors.$primary-50,
    100: colors.$primary-100,
    200: colors.$primary-200,
    300: colors.$primary-300,
    400: colors.$primary-400,
    500: colors.$primary-500,
    600: colors.$primary-600,
    700: colors.$primary-700,
    800: colors.$primary-800,
    900: colors.$primary-900,
    A100: colors.$primary-a100,
    A200: colors.$primary-a200,
    A400: colors.$primary-a400,
    A700: colors.$primary-a700,
    contrast: (
      50: rgba(colors.$color-black, 0.87),
      100: rgba(colors.$color-black, 0.87),
      200: rgba(colors.$color-black, 0.87),
      300: rgba(colors.$color-black, 0.87),
      400: rgba(colors.$color-black, 0.87),
      500: colors.$color-white,
      600: colors.$color-white,
      700: colors.$color-white,
      800: colors.$color-white,
      900: colors.$color-white,
      A100: rgba(colors.$color-black, 0.87),
      A200: colors.$color-white,
      A400: colors.$color-white,
      A700: colors.$color-white,
    ),
  )
);

$custom-accent: mat.m2-define-palette(
  (
    50: colors.$accent-50,
    100: colors.$accent-100,
    200: colors.$accent-200,
    300: colors.$accent-300,
    400: colors.$accent-400,
    500: colors.$accent-500,
    600: colors.$accent-600,
    700: colors.$accent-700,
    800: colors.$accent-800,
    900: colors.$accent-900,
    A100: colors.$accent-a100,
    A200: colors.$accent-a200,
    A400: colors.$accent-a400,
    A700: colors.$accent-a700,
    contrast: (
      50: rgba(colors.$color-black, 0.87),
      100: rgba(colors.$color-black, 0.87),
      200: rgba(colors.$color-black, 0.87),
      300: rgba(colors.$color-black, 0.87),
      400: rgba(colors.$color-black, 0.87),
      500: colors.$color-white,
      600: colors.$color-white,
      700: colors.$color-white,
      800: colors.$color-white,
      900: colors.$color-white,
      A100: rgba(colors.$color-black, 0.87),
      A200: colors.$color-white,
      A400: colors.$color-white,
      A700: colors.$color-white,
    ),
  )
);

$custom-warn: mat.m2-define-palette(
  (
    50: colors.$warn-50,
    100: colors.$warn-100,
    200: colors.$warn-200,
    300: colors.$warn-300,
    400: colors.$warn-400,
    500: colors.$warn-500,
    600: colors.$warn-600,
    700: colors.$warn-700,
    800: colors.$warn-800,
    900: colors.$warn-900,
    A100: colors.$warn-a100,
    A200: colors.$warn-a200,
    A400: colors.$warn-a400,
    A700: colors.$warn-a700,
    contrast: (
      50: rgba(colors.$color-black, 0.87),
      100: rgba(colors.$color-black, 0.87),
      200: rgba(colors.$color-black, 0.87),
      300: rgba(colors.$color-black, 0.87),
      400: rgba(colors.$color-black, 0.87),
      500: rgba(colors.$color-black, 0.87),
      600: rgba(colors.$color-black, 0.87),
      700: rgba(colors.$color-black, 0.87),
      800: colors.$color-white,
      900: colors.$color-white,
      A100: rgba(colors.$color-black, 0.87),
      A200: rgba(colors.$color-black, 0.87),
      A400: rgba(colors.$color-black, 0.87),
      A700: rgba(colors.$color-black, 0.87),
    ),
  )
);
