@forward './styles/colors';
@forward './styles/mixins';
@forward './styles/scrollbar';

@use './styles/material/theme';
@use './styles/colors' as colors;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Overpass', sans-serif;
  background-color: colors.$background-primary;
  color: colors.$text-primary;
}

* {
  box-sizing: border-box;
}
